
@import url(https://fonts.googleapis.com/css?family=Raleway);

$body-bg:                           #e9ebee;
// navbar

$navbar-height:                     50px;
$navbar-default-bg:                 #000;
$navbar-hover-color:                #fff;
$navbar-default-link-color:         #fff;
$breadcrumb-bg:                     $navbar-hover-color;
$navbar-default-link-active-color:  $navbar-default-link-color;
$navbar-default-link-active-bg:     lighten($navbar-default-bg, 25.0%);
$navbar-default-link-hover-color:   $navbar-default-link-color;

// $navbar-default-border: transparent;
// //$navbar-margin-bottom: 60px;
// $navbar-default-link-hover-color: lighten($navbar-default-bg , 100.0%);
// $navbar-default-link-active-color:  $navbar-default-bg;
// $navbar-default-link-active-bg: lighten($navbar-default-bg, 60.0%);
.navbar-shadow {
  box-shadow: 0px 3px 3px  #777;
}
// breadcrumb
.breadcrumb {
    box-shadow: 0px 3px 3px  #999;
}

.panel {
    box-shadow: 0px 3px 3px  #999 !important;
}

.nav {
    border: 0px;
}
// link color
//$link-color: #FFDF00;

@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
    font-family: 'Raleway', sans-serif;
    padding-top: 70px;
}



.hand-cursor {
  cursor: pointer;
  cursor: hand;
}
